<!DOCTYPE html>
<%- include ('./partials/head'); %>

<body class="container">
    <%- include('./partials/header'); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Meu nome é Jaqueline, este é meu site!</p>
        </div>
    </main>

    <%- include('./partials/footer'); %>
</body>